
/*Linking Pokemon Font*/
@font-face {
	font-family: "pokefont";
	src: url("../fonts/Pokemon_GB.ttf") format("truetype");
}

#test {
	position: fixed;
    margin: auto;
    min-height: 100%;
    min-width: 100%;

    /* For the following settings we set 100%, but it can be higher if needed
    See the answer's update */
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    z-index: -1;
}

#middle {
	font-size: 20px;
}

.row {
	float: none;
	font-family: "pokefont";
}

.container-fluid {
	width: 900px;
	margin-top: 70px;
	position: relative;
}

.headers {
	font-size: 17px;
	white-space: nowrap;
	text-align: center;
	font-weight: bolder;
	font-size: 12px;
}

.sides {
	margin-top: 20px;
}

.options {
	cursor: pointer;
	border-radius: 5px;
	text-indent: 20px;
	margin: 10px 0;
	font-size: 10px;
}

#myCanvas {
	height: 300px;
	width: 300px;
}

#name-input {
	width: 275px;
	display: inline;
}

#type-input {
	width: 150px;
}

.typing-field {
	margin: 5px 5px;
	font-size: 10px;
	text-align: center;
}

#myCanvas {
	height: 300px;
	width: 300px;
}

.forever-scores {
	font-size: 45px;
}

.timed-scores {
	font-size: 45px;
}

body {
	background-color: #EBEEB2FF;
}

.col-2 {
	border: 2px solid black;
	border-radius: 30px;
	height: 455px;
}

#game-section {
	margin-top: -30px;
}

.selected {
	background-color: #f2d468;
}

.pokeball {
	height: 100px;
	width: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -12px;
}

.wrap {
	border: 2px solid #FF851B;
	border-radius: 20px;
	cursor: pointer;
}

#start {
	color: #FF851B;
	font-size: 10px;
	margin-top: 12px;
}

.progress {
	margin-bottom: 7px;
}

#progress-bar {
	text-align: center;
	align-content: center;
	line-height: 20px;
}

#progress {
	display: block;
	width: 100%;
	line-height: 30px;
	font-size: 15px;
}

#restart {
	text-align: center;
	margin-top: 10px;
	font-size: 12px;
	font-weight: 900;
	border: 2px solid #FF755FFF;
	color: #FF3E4BFF;
	border-radius: 30px;
	cursor: pointer;
	padding-top: 5px;
}

#skip {
	border: 2px solid #85144b;
	margin-left: -10px;
	margin-right: -10px;
	text-align: center;
	line-height: 20px;
	border-radius: 25px;
	color: #85144b;
	cursor: help;
	font-size: 9px;
	padding-top: 3px;
	margin-top: 10px;
}

#mute {
	border: 2px solid black;
	line-height: 20px;
	text-align: center;
	border-radius: 50px;
	padding: 7px;
	margin-left: -10%;
	margin-right: -10%;
	margin-top: 3px;
	padding-bottom: 3px;
	font-size: 10px;
	text-decoration: line-through;
	display: none;
	cursor: pointer;
}

#spelling {
	border: 2px solid black;
	line-height: 20px;
	text-align: center;
	border-radius: 30px;
	padding: 7px;
	margin-left: -10%;
	margin-right: -10%;
	margin-top: 3px;
	padding-bottom: 3px;
	font-size: 10px;
	text-decoration: line-through;
	cursor: pointer;
}

.footer {
	z-index: 10;

}

#social a img {
	width: 40px;
	height: 40px;
	transform: translateY(-2px);
	cursor: pointer;
}

#social1 {
	bottom: -120px;
	text-align: center;
	font-family: garamond;
}

#copyright {
	position: relative;
	display: inline;
	color: #4C4C4BFF;
	font-weight: bold;
}

#social {
  align-items: center;
  justify-content: center;
  line-height: 100px;
  font-size: 0.66em;
  display: inline;
  vertical-align: middle;
  margin-bottom: 20px;
}

#copy {
	font-size: 2em;
	display:inline;
}

#nint {
	bottom: -90px;
	text-align: center;
	font-family: garamond;
}

.fa {
  padding: 10px;
  font-size: 25px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;

}

#copy {
	transform: translateY(5px);
}



